@import './slick.css';
@import '../node_modules/aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    scroll-behavior: smooth;
  }

  .bg-body {
    background: theme('colors.blue.950') url(../images/bg-3938.webp) repeat;
  }

  :focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-color: theme('colors.slate.50');
  }

  .slider-logo {
    transform: translateY(80%) rotateZ(var(--angle, 0));
  }

  .slider-logo.add-transition {
    @apply transition-transform duration-700;
  }
}

@layer components {
  .feature-slider-dots > ul {
    @apply flex justify-center gap-3;
  }

  .feature-slider-dots > ul > li.slick-active > button {
    @apply w-10;
  }

  .feature-slider-dots > ul > li.slick-active > button::before {
    @apply bg-transparent;
  }

  .feature-slider-dots > ul > li > button {
    font-size: 0;

    @apply bg-gradient-to-b from-blue-100 to-blue-800 w-4 h-4 rounded-full relative transition-[width] duration-500;
  }

  .feature-slider-dots > li > button::before {
    content: '';

    @apply absolute inset-1 rounded-full bg-blue-950;
  }

  @media (min-width: theme('screens.xl')) {
    .navigation {
      position: relative;
    }

    .navigation::before,
    .navigation::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 5px;
      background: linear-gradient(
        to right,
        transparent 10%,
        theme('colors.white') 50%,
        transparent 90%
      );
    }

    .navigation::before {
      top: 0;
    }

    .navigation::after {
      bottom: 0;
    }
  }

  .navigation.is-open {
    @apply flex;

    transform: translateY(-100%);
    animation: dropdown 500ms 1 cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-fill-mode: forwards;
  }

  @keyframes dropdown {
    to {
      transform: translateY(0);
    }
  }

  .navigation.is-close {
    animation-name: dropup;
  }

  @keyframes dropup {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
}

@layer utilities {
  .grd-border {
    background-clip: border-box;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(
      to bottom,
      theme('colors.blue.100'),
      theme('colors.blue.800')
    );
  }

  .bg-radial-gradient {
    background: radial-gradient(ellipse at bottom, #1d2f4a, transparent 60%);
  }
}

@layer components {
  .logo-animation {
    transform: translateX(var(--x));
  }

  .shooting-star {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
  }

  .shooting-star span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
      0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
    animation: animate 3s linear infinite;
    opacity: 0;
  }
  .shooting-star span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
  }
  @keyframes animate {
    0% {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
    }
  }
  .shooting-star span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
  }
  .shooting-star span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
  }
  .shooting-star span:nth-child(3) {
    top: 80;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
  }
  .shooting-star span:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
  }
  .shooting-star span:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
  }
  .shooting-star span:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
  }
  .shooting-star span:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
  }
  .shooting-star span:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
  }
  .shooting-star span:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
  }
  .shooting-star span:nth-child(9) {
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
  }
}
